# Environment files
venv/
.env*  # Covers various environment variable files

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE or OS specific files
# Adjust these based on your IDE/OS
# Examples:
.idea/  # PyCharm
Thumbs.db  # Windows thumbnails